In [4]:
import pandas as pd
from pandas import read_csv
import numpy as np
import matplotlib.pyplot as plt

In [5]:
drug = 'Drug.csv'
data = read_csv(drug)

In [6]:
data.head()

                                                Drug Disease Gender  Age
0               A CN Gel(Topical) 20gmA CN Soap 75gm    Acne   Male   23
1  A Ret 0.05% Gel 20gmA Ret 0.1% Gel 20gmA Ret 0...    Acne   Male   23
2                             ACGEL CL NANO Gel 15gm    Acne   Male   23
3                                ACGEL NANO Gel 15gm    Acne   Male   23
4                              Acleen 1% Lotion 25ml    Acne   Male   23

In [7]:
data.dtypes

Drug       object
Disease    object
Gender     object
Age         int64
dtype: object

In [8]:
data.shape

(4955, 4)

In [9]:
data.isnull().sum()

Drug       0
Disease    0
Gender     0
Age        0
dtype: int64

**Data Preprocessing**

In [10]:
data.replace({'Gender':{'Female':0,'Male':1}}, inplace=True)

In [11]:
x = data[['Disease']]

In [12]:
x.Disease.unique()

array(['Acne', 'Allergy', 'Diabetes', 'Fungal infection',
       'Urinary tract infection', 'Malaria', 'Migraine', 'Hepatitis B',
       'AIDS'], dtype=object)

In [13]:
data.replace({'Disease':{'Acne':0, 'Allergy':1, 'Diabetes':2, 'Fungal infection':3,
       'Urinary tract infection':4, 'Malaria':5, 'Migraine':6, 'Hepatitis B':7,
       'AIDS':8}}, inplace=True)

In [14]:
data.head(10)

                                                Drug  Disease  Gender  Age
0               A CN Gel(Topical) 20gmA CN Soap 75gm        0       1   23
1  A Ret 0.05% Gel 20gmA Ret 0.1% Gel 20gmA Ret 0...        0       1   23
2                             ACGEL CL NANO Gel 15gm        0       1   23
3                                ACGEL NANO Gel 15gm        0       1   23
4                              Acleen 1% Lotion 25ml        0       1   23
5                              Aclene 0.10% Gel 15gm        0       1   23
6                                     Acnay Gel 10gm        0       1   23
7                Acne Aid Bar 50gmAcne Aid Bar 100gm        0       1   23
8                                   Acne UV Gel 60gm        0       1   23
9                            Acne UV SPF 30 Gel 30gm        0       1   23

In [15]:
data.dtypes

Drug       object
Disease     int64
Gender      int64
Age         int64
dtype: object

**Split Feature and Label**

In [16]:
data_x = data.drop(columns=['Drug'])
data_y = data['Drug']

In [17]:
data_x.head()

   Disease  Gender  Age
0        0       1   23
1        0       1   23
2        0       1   23
3        0       1   23
4        0       1   23

In [18]:
data_y.head()

0                 A CN Gel(Topical) 20gmA CN Soap 75gm
1    A Ret 0.05% Gel 20gmA Ret 0.1% Gel 20gmA Ret 0...
2                               ACGEL CL NANO Gel 15gm
3                                  ACGEL NANO Gel 15gm
4                                Acleen 1% Lotion 25ml
Name: Drug, dtype: object

**Split Dataset**

In [19]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data_x, data_y, test_size=0.2, random_state=42)

**Modeling**

In [20]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(random_state=42)
rf = rf.fit(data_x, np.ravel(data_y))

In [21]:
from sklearn.metrics import accuracy_score
y_pred = rf.predict(X_test)
print(accuracy_score(y_test, y_pred))
print(accuracy_score(y_test, y_pred, normalize=False))

0.05348133198789102
53

In [22]:
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier()
dt = dt.fit(data_x, np.ravel(data_y))

In [23]:
from sklearn.metrics import accuracy_score
y_pred = dt.predict(X_test)
print(accuracy_score(y_test, y_pred))
print(accuracy_score(y_test, y_pred, normalize=False))

0.055499495459132187
55

In [24]:
rf.score(X_test, y_test)

0.05348133198789102

In [25]:
y_test.head(10)

3131     Volibo 0.2mg Tablet 10'SVolibo 0.3mg Tablet 10'S
2227                              Glytas 80mg Tablet 10'S
3291                       AM Laqer 5% Nail Lacquer 2.5ml
2357    Jagmet 500Mg Tablet 10'sJagmet 1000Mg Tablet 10's
168                           Doxt SL 100mg/5B Tablet 8'S
1128                            Rinitrin 10mg Tablet 10'S
4525                           Clindazole Suppository 3'S
4246    Falcinil Forte 120mg InjectionFalcinil 100mg T...
4262                            IMULAST 200mg Tablet 10's
1020                                 Monti FX Tablet 10'S
Name: Drug, dtype: object

In [26]:
prediction = rf.predict(X_test)
print(prediction[0:10])

["Voglicad M 0.3mg Tablet 10'SVoglicad M 0.2mg Tablet 10'S"
 "Voglicad M 0.3mg Tablet 10'SVoglicad M 0.2mg Tablet 10'S"
 'Jucan 150mg Tablet'
 "Laformin G 1/500mg Tablet 10'SLaformin G 2/500mg Tablet 10'S"
 "Isoin 20mg Capsule 10'SIsoin 10mg Capsule 10'S"
 'Intavil 25mg Injection 10mlIntavil 25mg Injection 2ml'
 'Enteroshield Injection(Pfs) 0.5ml' "Arteross 60mg Injection 1'S"
 "Arteross 60mg Injection 1'S" "Maxcet 5mg Tablet 10'S"]

**Prediction**

In [27]:
# Malaria = 5, Male=1, Age=24

test = [5,1,24]
test = np.array(test).reshape(1, -1)
print(test.shape)

(1, 3)

In [28]:
prediction = rf.predict(test)
print(prediction[0])

Combither Forte 80/480mg Tablet 6'S

C:\Users\Pandiepie\anaconda3\envs\tf\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  "X does not have valid feature names, but"

In [30]:
# import joblib as joblib
# joblib.dump(rf, 'model/medical_rf.pkl')

In [29]:
from joblib import dump, load

# Simpan objek ke file pkl dengan kompresi
dump(rf, 'model/medical_rf.pkl', compress=('zlib', 3))

# Muat objek dari file pkl yang dikompresi
clf = load('model/medical_rf.pkl')

In [32]:
# clf = joblib.load('model/medical_rf.pkl')

In [31]:
prediction = rf.predict(test)
print(prediction[0])

Combither Forte 80/480mg Tablet 6'S

C:\Users\Pandiepie\anaconda3\envs\tf\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  "X does not have valid feature names, but"